	body {background-color: #efeff5;}
	h1   {color: #000066;font-size:2.5em;font-family: Aileron, sans-serif;}
	p    {font-family: "verdana";}
	div  {padding-left: 30px;}

	input[type=text] {
 	    width: 80%;
 	    padding: 6px;
 	    margin: 4px 0;
 	    box-sizing: border-box;}

	input[type=number] {
 	    padding: 3px;
 	    margin: 4px 0;
 	    box-sizing: border-box;}

	input[type=email] {
 	    width: 50%;
 	    padding: 3px;
 	    margin: 4px 0;
 	    box-sizing: border-box;}

	input[type=date] {
  	    padding: 1px;
 	    margin: 4px 0;
 	    box-sizing: border-box;}

	label {font: normal 14px verdana !important;}

